node_modules/
.history
.php_tmp
test.*
.idea
a.*
settings.json
db-inicial.sql
addusers.php 
views\secundarias\addusers.php
insertarUsuarios.php
perfil_usuario.json
gitLink.txt
env.php
.htaccess
canviInfo.html
lib/
.github/
*.indd
*.idlk